<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>
        {% block title %}
            {% trans %}Welcome!{% endtrans %}
        {% endblock %}
    </title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav-link" href="{{ path('homepage') }}">List of articles</a>
    <a class="nav-link" href="{{ path('articles') }}">List of author's articles</a>
    <a class="nav-link" href="{{ path('tags') }}">Articles by authors</a>
    <a class="nav-link" href="{{ path('create-anonymous') }}">Create article</a>
    <a class="nav-link" href="{{ path('create') }}">Create author's article</a>
</nav>
<div class="container">
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</div>

</div>
</body>
</html>
