{% extends 'base.html.twig' %}
{% block body %}
    <h1>Articles by Tags</h1>
    {% if tags %}
        <ol>
            {% for tag in tags %}
                <li><a href="{{ path('articles-by-tag', {'tagId': tag.id}) }}">{{ tag.name }} <i>(first mention
                            since {{ tag.createdAt|date('Y-m-d H:i') }})</i></a></li>
                <h2>Article with this Tag ({{ tag.articles.count }}): </h2>
                <ol>
                    {% for article in tag.articles %}
                        <li><a href="{{ path('show', {'slug': article.slug}) }}">{{ article.name }}</a></li>
                    {% endfor %}
                </ol>
            {% endfor %}
        </ol>
    {% else %}
        <p>There is nothing here yet.</p>
    {% endif %}
{% endblock %}