{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ article.name }}</h1>
    <section>
        <div>
            {{ article.text }}
        </div>
        <h6>Author:</h6>
        <a href="{{ article.externalLink }}" target="_blank">{{ article.authorName }}</a>
        <h6>Actions:</h6>
        {% include 'common/edit-link.html.twig' with {'article': article} %}
    </section>
{% endblock %}