{% extends 'base.html.twig' %}
{% block body %}
    <h1>All Author's Articles</h1>
    {% if articles %}
        <ol>
            {% for article in articles %}
                <li><a href="{{ path('show', {'slug': article.slug}) }}">{{ article.name }}</a></li>
            {% endfor %}
        </ol>
    {% else %}
        <p>There is nothing here yet.</p>
    {% endif %}
{% endblock %}