{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ article.name }}</h1>
    <section>
        <div>
            {{ article.text }}
        </div>
        <h6>Publish Date:</h6>
        {{ article.publishDate|date('Y-m-d') }}
        <h6>Tags:</h6>
        {% if article.tags.count > 0 %}
            {% for tag in article.tags %}
                <a href="{{ path('articles-by-tag', {tagId: tag.id}) }}" class="badge badge-secondary">{{ tag.name }}</a>
            {% endfor %}
        {% else %}
            <p>No tag assigned.</p>
        {% endif %}
        <h6>Actions:</h6>
        {% include 'common/edit-link.html.twig' with {'article': article} %}
    </section>
{% endblock %}